[mysqld]
slow_query_log          = 1
slow_query_log_file     = /var/log/mysql/mysql-slow.log
long_query_time = 1

innodb_flush_log_at_trx_commit=2
innodb_doublewrite=0
disable-log-bin
max_connections=10000
